.list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.bottom_container {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.input_group {
    margin-bottom: 1rem;
}

.input_group input {
    width: 100%; 
    padding: 0.5rem; 
}

.error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}

.btn_container {
    display: flex;
    gap: 10px; /* Define o espaçamento entre os botões */
    padding: 1rem;
}

.img_container {
    height: 300px;
    width: 300px;
}